<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">


<ui:composition template="/WEB-INF/template.xhtml">
    <ui:define name="content">
        <div class="w3=margin-top w3-container">
            <h2>Users Control</h2>
        </div>
        <h:form>
            <div class="w3-row w3-margin-bottom w3-margin-top">
                <div class="w3-right w3-col w3-container" style="width: 175px">
                    <b:commandButton value="Search Student" action="#{usersSearch.userSearch}" look="success"
                                     style="width: 100%">
                    </b:commandButton>
                </div>
                <div class="w3-rest w3-container">
                    <b:inputText id="cond" value="#{usersSearch.searchWord}" style="width: 100%"
                    />
                </div>
            </div>
        </h:form>
        <div style="padding: 10px">
            <b:dataTable id="list"
                         value="#{usersSearch.user}"
                         var="u"
                         responsive="true">
                <b:dataTableColumn style="text-align:center;">
                    <f:facet name="header">Student Number</f:facet>
                    <h:link value="#{u.stId}" outcome="/admin-space/usercontrol/userProfileManage.xhtml">
                    <f:param name="uid" value="#{u.id}"/>
                    </h:link>
                </b:dataTableColumn>
                <b:dataTableColumn style="text-align:center;">
                    <f:facet name="header">Fullname</f:facet>
                    <h:link value="#{u.fullName}" outcome="/admin-space/usercontrol/userProfileManage.xhtml">
                    <f:param name="uid" value="#{u.id}"/>
                    </h:link>
                </b:dataTableColumn>
                <b:dataTableColumn style="text-align:center;">
                    <f:facet name="header">Email</f:facet>
                    #{u.email}
                </b:dataTableColumn>
            </b:dataTable>
        </div>
    </ui:define>
</ui:composition>
</html>

