<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/admin-space/template1.xhtml">
    <f:metadata>
        <f:viewParam name="uid" value="#{resetPasswordForm.userId}"/>
        <f:viewParam name="uid" value="#{registrationForm.userId}"/>
        <f:viewAction action="#{registrationForm.findUser}"/>
    </f:metadata>
    <ui:define name="content1">
        <div class="w3-content">
            <h:form id="userEdit">
                <div class="w3-center w3-container"><h3 style="font-weight: bold">Profile #{registrationForm.user.fullName}</h3>
                </div>
                <p:messages id="messages" showDetail="true" closable="true">
                    <p:autoUpdate/>
                </p:messages>
                <h:panelGroup>
                    <p style="padding-left: 240px; font-weight: bold">Set new Password</p>
                    <h:panelGrid columns="1" id="matchPass" cellpadding="5" style="padding-left: 60px">
                        <h:outputLabel style="padding-left: 1px" for="psw1" value="New Password"/>
                        <p:password id="psw1" style="border: solid 1px blue" match="psw2" label="Pass 1"
                                    value="#{resetPasswordForm.password1}"
                                    required="true" feedback="true"
                                    disabled="#{!resetPasswordForm.editbutton}"/>
                        <h:outputLabel style="padding-left: 1px" for="psw2" value="Re-type Password"/>
                        <p:password id="psw2" style="border: solid 1px blue" label="Pass 2"
                                    value="#{resetPasswordForm.password2}"
                                    disabled="#{!resetPasswordForm.editbutton}"/>

                        <h:commandButton value="Change Pass"
                                         id="change"
                                         action="#{resetPasswordForm.edit}"
                                         class="button"
                                        rendered="#{!resetPasswordForm.editbutton}">
                            <f:ajax execute="change" render="@form"/>
                        </h:commandButton>
                        <h:commandButton value="Submit" action="#{resetPasswordForm.submit}"
                                         id="submit"
                                         class="button"
                                        rendered="#{resetPasswordForm.editbutton}">
                        </h:commandButton>
                    </h:panelGrid>
                    <h:panelGrid columns="2" id="panel2" cellpadding="3" style="padding-left: 60px">
                        <h:outputLabel style="padding-left: 1px" value="St ID"/>
                            <p:inputText value="#{registrationForm.stId}" rendered="#{registrationForm.editmode}"/>
                            <h:outputText value="#{registrationForm.user.stId}" rendered="#{not registrationForm.editmode}"/>
                        <h:outputLabel value="Full Name"/>
                            <p:inputText id="name" value="#{registrationForm.fullName}" rendered="#{registrationForm.editmode}"/>
                            <h:outputText value="#{registrationForm.user.fullName}" rendered="#{not registrationForm.editmode}"/>
                        <h:outputText value="Email"/>
                            <p:inputText id="email" value="#{registrationForm.email}" rendered="#{registrationForm.editmode}"/>
                            <h:outputText value="#{registrationForm.user.email}" rendered="#{not registrationForm.editmode}"/>
                        <h:commandButton value="Edit"
                                         id="edit"
                                         action="#{registrationForm.edit}"
                                         class="button"
                                         rendered="#{not registrationForm.editmode}">
                            <f:ajax execute="edit" render="@form"/>
                        </h:commandButton>
                        <h:commandButton value="Save" action="#{registrationForm.saveEditableUser}"
                                         id="save"
                                         class="button"
                                         rendered="#{registrationForm.editmode}">
                            <f:ajax execute="email name" render="@form"/>
                        </h:commandButton>
                    </h:panelGrid>
                </h:panelGroup>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</html>
