<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough" xmlns:b="http://bootsfaces.net/ui">
<link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet"/>


<ui:composition template="/admin-space/template1.xhtml">
    <ui:define name="content1">
        <div class="w3-content">
            <h:form id="discipline" styleClass="w3-container w3-padding-large w3-margin-top">
                <div class="w3-panel w3-pale-red">
                    <h2 class="w3-center"
                        style="text-shadow:1px 1px 0 #444"
                    >Add Discipline</h2>
                    <label>Discipline name</label>
                    <h:messages for="name" infoClass="info-message" errorClass="error-message"/>
                    <b:inputText id="name"
                                 value="#{disciplineRegistration.disciplinename}"
                                 required="true"
                                 style="text-align:center;"
                                 requiredMessage="Discipline Name is required"
                                 placeholder="Type discipline name here"/>

                    <div class="w3-margin-top w3-row">
                        <div class="w3-half w3-container w3-margin-top">
                            <b:commandButton id="confirm"
                                             look="info"
                                             style="width: 100%"
                                             value="Confirm"
                                             action="#{disciplineRegistration.regDiscipline}">
                                <f:ajax execute="@form" render="@form"/>
                            </b:commandButton>
                        </div>
                        <div class="w3-half w3-container w3-margin-top">

                        </div>
                    </div>
                    <div class="w3-margin-bottom"></div>
                </div>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</html>
