<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/WEB-INF/template.xhtml">
    <ui:define name="content">
        <div class="w3-content">
            <h:form styleClass="w3-container w3-margin-top">
                <div class="w3-margin-top">
                    <h:link styleClass="w3-btn w3-block w3-round-xlarge w3-border w3-border-indigo w3-text-indigo w3-hover-indigo w3-xlarge w3-padding-16"
                            style="text-shadow: 1px 1px 0 #444"
                            value="Change contact info"
                            outcome="/admin-space/studdatacorsearch.xhtml"/>
                </div>
                <div class="w3-margin-top">
                    <h:link styleClass="w3-btn w3-block w3-round-xlarge w3-border w3-border-black w3-hover-black w3-xlarge w3-padding-16"
                            style="text-shadow: 1px 1px 0 #444"
                            value="Change exam mark"
                            outcome="/admin-space/dbcontrol/updateExamSearchReslist.xhtml"/>
                </div>
                <div class="w3-margin-top">
                    <h:link styleClass="w3-btn w3-block w3-round-xlarge w3-border w3-border-red w3-text-red w3-hover-red w3-xlarge w3-padding-16"
                            style="text-shadow: 1px 1px 0 #444"
                            value="Delete Student"
                            outcome="/admin-space/dbcontrol/deleteStudent.xhtml"/>
                </div>
                <div class="w3-margin-top">
                    <h:link styleClass="w3-btn w3-block w3-round-xlarge w3-border w3-border-purple w3-text-purple w3-xlarge w3-hover-purple w3-padding-16"
                            style="text-shadow: 1px 1px 0 #444"
                            value="Add discipline"
                            outcome="/admin-space/dbcontrol/addDiscipline.xhtml"/>
                </div>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</html>