<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough" xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/WEB-INF/template.xhtml">
    <ui:define name="content">
        <div class="w3-margin-top w3-container">
            <h2>Search for delete</h2>
        </div>
        <h:form>
            <div class="w3-row w3-margin-bottom w3-margin-top">
                <div class="w3-right w3-col w3-container" style="width: 175px">
                    <b:commandButton value="Search" action="#{deleteStudent.searchStudent()}" style="width:100%"
                                     styleClass="w3-button w3-pink w3-hover-purple w3-border w3-border-blue">
                        <f:ajax render="list" execute="keyword"/>
                    </b:commandButton>
                </div>
                <div class="w3-rest w3-container">
                    <h:inputText id="keyword" value="#{deleteStudent.keyword}" style="width: 100%"
                                 styleClass="w3-right w3-btn w3-border w3-border-blue"
                                 a:placeholder="Please enter student ID only"/>
                </div>
            </div>
        </h:form>

        <h:dataTable id="list" value="#{studentsSearchForm.searchResult}"
                     var="s"
                     styleClass="w3-table w3-bordered w3-striped"
                     headerClass="w3-blue">
            <h:column>
                <f:facet name="header">Student ID</f:facet>
                #{s.stnum}
            </h:column>
            <h:column>
                <f:facet name="header">Student Full Name</f:facet>
                #{s.fullName}
            </h:column>
            <h:column>
                    <b:button id="st_id" look="danger"
                              value="Delete"
                              outcome="/admin-space/dbcontrol/remove.xhtml">
                        <f:param name="stId" value="#{s.id}"/>
                    </b:button>
            </h:column>
        </h:dataTable>
    </ui:define>
</ui:composition>
</html>
