<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet"/>


<ui:composition template="/admin-space/template1.xhtml">
    <f:metadata>
        <f:viewParam name="stId" value="#{deleteStudent.studentId}"/>
    </f:metadata>
    <ui:define name="content1">
        <div class="w3-display-container w3-border w3-border-black w3-padding w3-display-middle w3-pale-red w3-round-large"
             >
            <h2 class="w3-center"
                style="color: red"
            >Warning !!! <br></br>
                Comletely removing student data</h2>
            <h:form id="studremove" styleClass="w3-container w3-margin-top">
                <p:growl id="message" showDetail="true"/>
                <p:commandButton id="remove"
                                 styleClass="w3-btn w3-white w3-hover-purple w3-border w3-border-black w3-round"
                                 style="width: 100%"
                                 value="remove"
                                 action="#{deleteStudent.removeStudent}"
                                 update="message">
                    <p:confirm header="Confirmation" message="Are you sure?" icon="pi pi-exclamation-triangle"/>
                    <f:ajax execute="@form" render="@form"/>
                </p:commandButton>
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check"/>
                    <p:button value="No" type="button" outcome="/admin-space/dbcontrol/deleteStudent.xhtml"
                              styleClass="ui-confirmdialog-no" icon="pi pi-times"/>
                </p:confirmDialog>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</html>
