<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet"/>


<ui:composition template="/admin-space/template1.xhtml">
    <f:metadata>
        <f:viewParam name="mark_id" value="#{updateExam.mark_Id}"/>
        <f:viewParam name="st_id" value="#{updateExam.stId}"/>
        <f:viewParam name="discId" value="#{updateExam.disciplineId}"/>
        <f:viewAction action="#{updateExam.findStudent}"/>
        <f:viewAction action="#{updateExam.findDiscipline}"/>
    </f:metadata>
    <ui:define name="content1">
        <div class="w3-content">
            <h:form id="updateexam" styleClass="w3-padding-large w3-margin-top">
                <div class="w3-border w3-border-black w3-padding w3-pale-red w3-round-xlarge">
                    <h2 class=" w3-xlarge w3-center"
                        style="text-shadow:1px 1px 0 #444"
                    >Examination mark changing</h2>
                    <div class="w3-container">
                        <h2 class="w3-large"
                            style="text-shadow:1px 1px 0 #444">
                            Student: #{updateExam.student.fullName}</h2>
                                    #{updateExam.discipline.name}
                        <div class="w3-margin-top">
                            <p:outputLabel for="date" value="Set Date of examination:"/>
                            <p:calendar id="date" inputStyleClass="w3-border w3-border-black"
                                        value="#{updateExam.dateofexam}"
                                        pattern="dd-MM-yyyy" mask="true"/>
                        </div>
                        <div class="w3-margin-top">
                            <h:outputLabel for="mark" value="Select the mark:"/>
                            <h:selectOneMenu id="mark"
                                             styleClass="w3-button w3-white w3-hover-purple w3-border w3-border-black"
                                             value="#{updateExam.newMark}">
                                <f:selectItems value="#{studentEvaluation.listOfMarks()}"/>
                            </h:selectOneMenu>
                            <h:message for="mark" errorClass="error-message" infoClass="info-message"/>
                        </div>
                        <div class="w3-margin-top w3-row">
                            <div class="w3-col w3-container">
                                <h:commandButton id="confirm"
                                                 styleClass="w3-btn w3-white w3-hover-purple w3-border w3-border-black w3-round"
                                                 style="width: 100%"
                                                 value="Confirm"
                                                 action="#{updateExam.updateExam()}">
                                    <f:ajax execute="@form" render="@form"/>
                                </h:commandButton>
                            </div>
                        </div>
                    </div>
                </div>
            </h:form>
        </div>

    </ui:define>
</ui:composition>
</html>
