<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/WEB-INF/template.xhtml">
    <ui:define name="content">
        <div class="w3-margin-top w3-container">
            <h2>Search Student</h2>
        </div>
        <h:form>
            <div class="w3-row w3-margin-bottom w3-margin-top">
                <div class="w3-right w3-col w3-container" style="width: 175px">
                    <b:commandButton value="Search" action="#{updateExam.searchExistExam}" style="width:100%"
                                     styleClass="w3-button w3-round w3-light-green w3-hover-green w3-border w3-border-blue">
                        <f:ajax render="list" execute="keyword"/>
                    </b:commandButton>
                </div>
                <div class="w3-rest w3-container">
                    <h:inputText id="keyword" value="#{updateExam.searchword}" style="width: 100%"
                                 styleClass="w3-right w3-btn w3-border w3-border-blue"/>
                </div>
            </div>
        </h:form>

        <h:dataTable id="list" value="#{updateExam.resultexist}"
                     var="st" styleClass="w3-table w3-bordered w3-striped"
                     headerClass="w3-blue">
            <h:column>
                <f:facet name="header">Student</f:facet>
                #{st[1]}
            </h:column>
            <h:column>
                <f:facet name="header">Student Full Name</f:facet>
                #{st[2]}
            </h:column>
            <h:column>
                <f:facet name="header">Discipline</f:facet>
                #{st[3]}
            </h:column>
            <h:column>
                <f:facet name="header">Control</f:facet>
                #{st[5]}
            </h:column>
            <h:column>
                <f:facet name="header">Mark</f:facet>
                #{st[6]}
            </h:column>
            <h:column>
                <f:facet name="header">Button</f:facet>
                <b:button look="info"
                          value="change Exam" outcome="/admin-space/dbcontrol/updateExam.xhtml">
                    <f:param name="mark_id" value="#{st[0]}"/>
                    <f:param name="st_id" value="#{st[7]}"/>
                    <f:param name="discId" value="#{st[4]}"/>
                </b:button>
            </h:column>
        </h:dataTable>
    </ui:define>
</ui:composition>
</html>
