<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">


<ui:composition template="/WEB-INF/template.xhtml">
    <ui:define name="content">
        <h:form>
            <div class="w3-row w3-margin-bottom w3-margin-top">
                <div class="w3-right w3-col w3-container" style="width: 175px">
                    <b:commandButton value="Search" action="#{acdperfSearch.getSearch}" style="width: 100%"
                                     look="success">
                        <f:ajax render="list" execute="keyword"/>
                    </b:commandButton>
                </div>
                <div class="w3-rest w3-container">
                    <b:inputText id="keyword" value="#{acdperfSearch.searchWord}"
                                 style="width: 100%"/>
                </div>
            </div>
        </h:form>

        <div class="w3-margin-top w3-container">
            <h:commandButton value="Print"
                             styleClass="w3-button w3-round-large w3-border">
                <p:printer target="list"/>
            </h:commandButton>
        </div>
        <div class="w3-margin-top w3-container">
            <b:dataTable id="list" value="#{acdperfSearch.searchList}"
                         var="a"
                         responsive="true"
                         print="true"
                         pdf="true"
                         excel="true"
                         row-group="orderFixed:[0,'asc'],rowGroup:{dataSrc:0}">
                <b:dataTableColumn>
                    <f:facet name="header">#{msg['userSpace.tableMarks.studentInfo']}</f:facet>
                    #{a.stNum}<br/>
                    #{a.fullName}
                </b:dataTableColumn>
                <b:dataTableColumn>
                    <f:facet name="header">#{msg['userSpace.tableMarks.discipline']}</f:facet>
                    #{a.disciplineName}
                </b:dataTableColumn>
                <b:dataTableColumn>
                    <f:facet name="header">#{msg['userSpace.tableMarks.typeOfControl']}</f:facet>
                    #{msg['typeOfControl.' +=a.typeOfControl]}
                </b:dataTableColumn>
                <b:dataTableColumn>
                    <f:facet name="header">#{msg['userSpace.tableMarks.mark']}</f:facet>
                    #{a.mark}
                </b:dataTableColumn>
                <b:dataTableColumn>
                    <f:facet name="header">#{msg['userSpace.tableMarks.date']}</f:facet>
                    #{a.date}
                </b:dataTableColumn>
            </b:dataTable>

        </div>

        <div class="w3-margin-top w3-container">
            <b:button value="Main" look="primary"
                    outcome="/admin-space/index.xhtml">
            </b:button>
        </div>
    </ui:define>
</ui:composition>
</html>