<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<ui:composition template="/WEB-INF/template.xhtml">

    <ui:define name="content">
        <div class="w3-content">
            <h:form styleClass="w3-container w3-margin-top">
                <h:panelGroup rendered="#{currentUser.signedIn}">
                    <div class="w3-margin-top">
                        <h:link styleClass="w3-btn w3-block w3-round-large w3-pale-green w3-large w3-padding-16"
                                value="New Student"
                                outcome="/admin-space/studentregistrations.xhtml"/>
                    </div>
                    <div class="w3-margin-top">
                        <h:link styleClass="w3-btn w3-block w3-round-large w3-blue w3-large w3-padding-16"
                                value="Info search"
                                outcome="/admin-space/studentsearchresult.xhtml"/>
                    </div>
                    <div class="w3-margin-top">
                        <h:link styleClass="w3-btn w3-block w3-round-large w3-orange w3-large w3-padding-16"
                                value="Set Marks"
                                outcome="/admin-space/searchStudentForEvaluation.xhtml"/>
                    </div>
                    <div class="w3-margin-top">
                        <h:link styleClass="w3-btn w3-block w3-round-large w3-cyan w3-large w3-padding-16"
                                value="Academic performance"
                                outcome="/admin-space/acadperfsearchresult.xhtml"/>
                    </div>
                    <div class="w3-margin-top">
                        <h:link styleClass="w3-btn w3-block w3-round-large w3-blue w3-large w3-padding-16"
                                value="Search student upload files"
                                outcome="/admin-space/studentUploadFilesSearch.xhtml"/>
                    </div>
                    <div class="w3-margin-top">
                        <h:link styleClass="w3-btn w3-block w3-round-large w3-lime w3-large w3-padding-16"
                                value="Database control"
                                outcome="/admin-space/dbcontrol/databaseControl.xhtml"/>
                    </div>
                    <div class="w3-margin-top">
                        <h:link styleClass="w3-btn w3-block w3-round-large w3-blue-gray w3-large w3-padding-16"
                                value="User Control"
                                outcome="/admin-space/usercontrol/userControl.xhtml"/>
                    </div>
                </h:panelGroup>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</html>