<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">


<ui:composition template="/WEB-INF/template.xhtml">

    <ui:define name="content">
        <div class="w3=margin-top w3-container">
            <h2>Setting marks</h2>
        </div>
        <h:form>
            <div class="w3-row w3-margin-bottom w3-margin-top">
                <div class="w3-right w3-col w3-container" style="width: 175px">
                    <b:commandButton value="Search Student" look="success" action="#{studentSearch.setEvuluatuionSt}"
                                     style="width: 100%">
                        <f:ajax render="list" execute="cond"/>
                    </b:commandButton>
                </div>
                <div class="w3-rest w3-container">
                    <b:inputText id="cond" value="#{studentsSearchForm.cond}" style="width: 100%"
                    />
                </div>
            </div>
        </h:form>
        <div style="padding: 10px">
            <b:dataTable id="list"
                         value="#{studentsSearchForm.searchResult}"
                         var="s"
                         responsive="true">
                <b:dataTableColumn style="text-align:center;">
                    <f:facet name="header">Student Number</f:facet>
                    #{s.stnum}
                </b:dataTableColumn>
                <b:dataTableColumn style="text-align:center;">
                    <f:facet name="header">Student Fullname</f:facet>
                    #{s.fullName}
                </b:dataTableColumn>
                <b:dataTableColumn style="text-align:center;">
                    <f:facet name="header">Choose student</f:facet>
                    <b:button look="info"
                              value="Set Marks" outcome="/admin-space/setEvaluation.xhtml">
                        <f:param name="id" value="#{s.id}"/>
                    </b:button>
                </b:dataTableColumn>
            </b:dataTable>
        </div>
    </ui:define>
</ui:composition>
</html>
