<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">


<ui:composition template="/admin-space/template1.xhtml">
    <f:metadata>
        <f:viewParam name="id" value="#{studentEvaluation.studentId}"/>
        <f:viewAction action="#{studentEvaluation.findStudent}"/>
        <f:viewAction action="#{studentEvaluation.listOfDisciplin}"/>
    </f:metadata>

    <ui:define name="title">value=#{studentEvaluation.studentId}</ui:define>
    <ui:define name="content1">
        <div class="w3-content">

            <h:form id="setevoluation" value="#{studentEvaluation.evaluation}"
                    styleClass="w3-container">
                <div class="w3-center w3-container">
                    <h5 class="w3-xxlarge"
                        style="text-shadow:1px 1px 0 #444">Student: #{studentEvaluation.student.fullName}</h5>
                </div>
                <h:panelGroup>
                    <div class="w3-container w3-border w3-sand w3-round">
                        <h3 class="w3-xlarge w3-center">Student Evaluation</h3>
                        <div class="w3-margin-top">
                            <h:panelGrid id="grid" columns="1">
                                <h:outputLabel for="discipline" value="Discipline"/>
                                <h:message for="discipline" errorClass="error-message"/>
                                <h:selectOneMenu id="discipline"
                                                 styleClass="w3-button w3-white w3-hover-brown w3-border w3-border-black"
                                                 style="width: 200px"
                                                 value="#{studentEvaluation.disciplId}"
                                                 required="true"
                                                 requiredMessage="No Discipline selected">
                                    <f:selectItem itemLabel="Select discipline" itemValue=""
                                                  noSelectionOption="true"/>
                                    <f:selectItems value="#{studentEvaluation.discipline}"
                                                   var="d"
                                                   itemLabel="#{d.name}"
                                                   itemValue="#{d.disc_id}"/>
                                </h:selectOneMenu>

                                <h:outputLabel for="control" value="Type of control"/>
                                <h:message for="control" errorClass="error-message"/>
                                <h:selectOneMenu id="control"
                                                 styleClass="w3-button w3-white w3-hover-brown w3-border w3-border-black"
                                                 style="width: 200px"
                                                 value="#{studentEvaluation.control}"
                                                 required="true"
                                                 requiredMessage="No type of control selected">
                                    <f:selectItem itemLabel="Select type" itemValue=""
                                                  noSelectionOption="true"/>
                                    <f:selectItems value="#{studentEvaluation.typeOfControl}" var="t"
                                                   itemValue="#{t}" itemLabel="#{msg['typeOfControl.' +=t]}"/>
                                </h:selectOneMenu>

                                <h:outputLabel for="date1" value="Date"/>
                                <h:message for="date1" errorClass="error-message"/>
                                <p:calendar id="date1" styleClass="ui-inputfield"
                                            value="#{studentEvaluation.dateofevaluation}"
                                            pattern="dd-MM-yyyy" mask="true" required="true"
                                            requiredMessage="No date selected">
                                </p:calendar>

                                <h:outputLabel for="mark" value="Mark:"/>
                                <h:message for="mark" errorClass="error-message"/>
                                <h:selectOneMenu id="mark" class="selectOne"
                                                 value="#{studentEvaluation.evaluation}"
                                                 required="true"
                                                 requiredMessage="No mark selected">
                                    <f:selectItem itemLabel="Select mark" itemValue="" noSelectionOption="true"/>
                                    <f:selectItems value="#{studentEvaluation.listOfMarks()}"/>
                                </h:selectOneMenu>
                            </h:panelGrid>
                        </div>
                        <div class="w3-row w3-margin-top">
                            <h:commandButton
                                    styleClass="w3-button w3-white w3-hover-brown w3-border w3-round-large w3-border-black "
                                    value="Confirm"
                                    style="min-width: 100%"
                                    action="#{studentEvaluation.studEvaluations}">
                                <f:ajax execute="@form" render="@form"/>
                            </h:commandButton>
                        </div>
                        <div class="w3-margin-top"></div>
                    </div>
                </h:panelGroup>
                <div style="padding:20px 1px">
                    <h:button class="backButton"
                              value="#{msg['userSpace.returnButton']}"
                              outcome="/admin-space/index.xhtml"/>
                </div>
            </h:form>
        </div>

    </ui:define>
</ui:composition>
</html>
