<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<ui:composition template="/WEB-INF/template.xhtml">
    <f:metadata>
        <f:viewAction action="#{studentUploadFilesSearch.allStudentUploadFiles}"/>
    </f:metadata>
    <ui:define name="content">
        <div class="navbarCentral" style="padding-top: 10px; padding-left: 5px; padding-right: 5px">
            <div class="card">
                <h:form id="stUploadFileSearch">
                    <p:dataTable id="tableFiles" var="s" value="#{studentUploadFilesForm.dtoList}"
                                 resizableColumns="true" liveResize="true" widgetVar="filesTable"
                                 emptyMessage="No records found with given criteria">
                        <p:column headerText="Student" filterBy="#{s.studentName}">
                            <h:outputText value="#{s.studentName}"/>
                            <p></p>
                            <h:outputText value="#{s.studentNum}"/>
                        </p:column>
                        <p:column field="discipline" headerText="Discipline" filterMatchMode="exact" filterBy="#{s.discipline}">
                            <f:facet name="filter">
                                <p:selectOneMenu id="disc" onchange="PF('filesTable').filter()" style="min-width: 150px" styleClass="custom-filter">
                                    <f:selectItem itemLabel="All" itemValue="" noSelectionOption="true"/>
                                    <f:selectItems value="#{studentUploadFilesForm.disciplineName()}"/>
                                </p:selectOneMenu>
                            </f:facet>
                            <h:outputText value="#{s.discipline}"/>
                        </p:column>
                        <p:column headerText="Control">
                            <h:outputText value="#{s.typeOfControl}"/>
                        </p:column>
                        <p:column headerText="File name">
                            <h:outputText value="#{s.fileName}"/>
                        </p:column>
                        <p:column headerText="Upload Date">
                            <h:outputText value="#{s.dateOfUpload}"/>
                        </p:column>
                        <p:column headerText="">
                            <h:commandButton id="d" styleClass="downloadButton" value="Download"
                                             action="#{downLoadFile.downloadFile}">
                                <f:param name="id" value="#{s.id}"/>
                            </h:commandButton>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </div>
        </div>
    </ui:define>
</ui:composition>
</html>