<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">


<ui:composition template="/WEB-INF/template.xhtml">
    <ui:define name="content">
        <h:form>
            <div class="w3-row w3-margin-bottom w3-margin-top">
                <div class="w3-right w3-col w3-container" style="width: 175px">
                    <b:commandButton value="Search" action="#{studentSearch.doSearch}" style="width:100%"
                                     look="success">
                    <f:ajax render="list" execute="@form"/>
                    </b:commandButton>
                </div>
                <div class="w3-rest w3-container">
                    <b:inputText id="cond" value="#{studentsSearchForm.cond}"
                                 style="width: 100%"/>
                </div>
            </div>
        </h:form>

        <div class="w3-display" style="padding-top: 20px; padding-right: 10px; padding-left: 10px">
            <b:dataTable var="st"
                         value="#{studentsSearchForm.searchResult}"
                         id="list"
                         responsive="true"
                         searching="true">
                <b:dataTableColumn>
                    <f:facet name="header">Student ID</f:facet>
                    #{st.stnum}
                </b:dataTableColumn>
                <b:dataTableColumn value="#{st.fullName}" order="asc"/>
                <b:dataTableColumn value="#{st.email}"/>
                <b:dataTableColumn value="#{st.phone}"/>
            </b:dataTable>

        </div>

        <div class="w3-margin-top w3-container">
            <h:link value="Admin Main" styleClass="w3-button w3-border w3-border-blue w3-round-large"
                    outcome="/admin-space/index.xhtml">
            </h:link>
        </div>

    </ui:define>
</ui:composition>
</html>
