<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition template="/admin-space/template1.xhtml">
    <f:metadata>
        <f:viewParam name="id" value="#{studentRegistrationForm.studentId}"/>
        <f:viewAction action="#{studentRegistrationForm.findStudent}"/>
    </f:metadata>
    <ui:define name="title">value=#{studentRegistrationForm.studentId}</ui:define>
    <ui:define name="content1">
        <div class="w3-content">
            <h:form id="studdatacorr" value="#{studentRegistrationForm.studentId}"
                    styleClass="w3-container w3-padding-large w3-margin-top">
            <div class="w3-panel">
            <h2 class="w3-center"
                    style="text-shadow:1px 1px 0 #444">
                    #{studentRegistrationForm.student.fullName}</h2>

                    <label class="w3-padding w3-large">E-MAIL</label>
                    <h:message for="email" errorClass="error-message"
                               infoClass="info-message"/>
                    <div class="w3-row w3-margine-top">
                        <div class="w3-half s12 m4 l4 w3-padding">
                            <h:inputText id="email" styleClass="w3-input w3-border"
                                         value="#{studentRegistrationForm.email}"
                                         validatorMessage="It isn't valid email"
                                         a:placeholder="email (example name@name.com)">
                                <f:validateRegex pattern="#{registrationForm.emailRegex}"/>
                            </h:inputText>
                        </div>
                        <div class="w3-half s12 m4 l4 w3-padding">
                            <h:commandButton styleClass="w3-btn w3-light-blue"
                                             value="Save email"
                                             action="#{studentRegistrationForm.existstudregemail}">
                                <f:ajax execute="email" render="@form"/>
                            </h:commandButton>
                        </div>
                    </div>

                    <label class="w3-padding w3-large">PHONE</label>
                    <h:message for="phone" infoClass="info-message"
                               errorClass="error-message"/>
                    <div class="w3-row w3-margine-top">
                        <div class="w3-half s12 m4 l4 w3-padding">
                            <h:inputText id="phone" styleClass="w3-input w3-border"
                                         value="#{studentRegistrationForm.phone}"
                                         required="true"
                                         requiredMessage="Phone number required"
                                         a:placeholder="phone number"/>
                        </div>
                        <div class="w3-half s12 m4 l4 w3-padding">
                            <h:commandButton styleClass="w3-btn w3-light-blue"
                                             value="Save phone"
                                             action="#{studentRegistrationForm.existstudregphone}">
                                <f:ajax execute="phone" render="@form"/>
                            </h:commandButton>
                            <div class="w3-margin-bottom"></div>
                        </div>
                    </div>
                </div>
            </h:form>
        </div>

    </ui:define>
</ui:composition>
</html>
