<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/WEB-INF/template.xhtml">
    <ui:define name="content">
        <div class="w3-margin-top w3-container">
            <h2>Student search</h2>
        </div>
        <h:form>
            <div class="w3-row w3-margin-bottom w3-margin-top">
                <div class="w3-right w3-col w3-container" style="width: 175px">
                    <b:commandButton value="Search" action="#{studentSearch.doSearch}" style="width:100%"
                                     look="success">
                        <f:ajax render="list" execute="cond"/>
                    </b:commandButton>
                </div>
                <div class="w3-rest w3-container">
                    <b:inputText id="cond" value="#{studentsSearchForm.cond}" style="width: 100%"/>
                </div>
            </div>
        </h:form>
        <div style="padding: 12px">
            <b:dataTable id="list" value="#{studentsSearchForm.searchResult}"
                         var="st" styleClass="w3-table w3-bordered w3-striped"
                         responsive="true"
                         headerClass="w3-blue">

                <b:dataTableColumn>
                    <f:facet name="header">Student Number</f:facet>
                    <h:link value="#{st.stnum}" outcome="/admin-space/studDataCorrection.xhtml">
                        <f:param name="id" value="#{st.id}"/>
                    </h:link>
                </b:dataTableColumn>
                <b:dataTableColumn>
                    <f:facet name="header">Full Name</f:facet>
                    #{st.fullName}
                </b:dataTableColumn>
                <b:dataTableColumn>
                    <f:facet name="header">E-MAIL</f:facet>
                    #{st.email}
                </b:dataTableColumn>
                <b:dataTableColumn>
                    <f:facet name="header">PHONE</f:facet>
                    #{st.phone}
                </b:dataTableColumn>
                <b:dataTableColumn>
                    <f:facet name="header">Select</f:facet>
                    <b:button
                            look="info"
                            value="change" outcome="/admin-space/studDataCorrection.xhtml">
                        <f:param name="id" value="#{st.id}"/>
                    </b:button>
                </b:dataTableColumn>
            </b:dataTable>
        </div>
    </ui:define>
</ui:composition>
</html>
