<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough" xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/admin-space/template1.xhtml">
    <ui:define name="content1">
        <div class="w3-content">
            <h:form id="student" styleClass="w3-container">
                <div class="w3-panel w3-pale-red">
                    <h2 class="w3-xlarge w3-center"
                    >New student registration form</h2>
                    <label>Student Number</label><h:messages for="stnum" errorClass="error-message"/>
                    <b:inputText id="stnum" styleClass="w3-input w3-border"
                                 value="#{studentRegistrationForm.stnum}"
                                 redisplay="true" placeholder="Student Id (min 7 - max 8 chars)"
                                 validatorMessage="Student Number shouldn't be less than 7 and more than 8 chars">
                        <f:validateLength minimum="7" maximum="8"/>

                    </b:inputText>
                    <label>Full Name</label><h:message for="fullName" errorClass="error-message"/>
                    <b:inputText id="fullName" styleClass="w3-input w3-border"
                                 value="#{studentRegistrationForm.fullName}"
                                 required="true"
                                 requiredMessage="Full Name is required"
                                 placeholder="firstname lastname"/>

                    <label>E-MAIL</label><h:message for="email" errorClass="error-message"/>
                    <b:inputText id="email" styleClass="w3-input w3-border"
                                 value="#{studentRegistrationForm.email}"
                                 validatorMessage="It isn't valid email"/>
                    <!--<f:validateRegex pattern="#{registrationForm.emailRegex}"/>-->
                    <p:watermark for="email" value="email (isn't required field)" id="watermark"/>

                    <label>PHONE</label><h:message for="phone" errorClass="error-message"/>
                    <b:inputText id="phone" styleClass="w3-input w3-border"
                                 value="#{studentRegistrationForm.phone}"
                                 required="false"
                                 requiredMessage="Phone number is required"
                                 placeholder="phone (isn't required field)"/>
                    <div class="w3-margin-top w3-row">
                        <div class="w3-half s12 m4 l4 w3-padding-small">
                            <b:commandButton id="confirm"
                                             styleClass="w3-btn w3-white w3-hover-purple w3-border w3-border-black w3-round"
                                             style="width: 100%"
                                             value="Save"
                                             action="#{studentRegistrationForm.studregister}">
                                <f:ajax execute="@form" render="@form"/>
                            </b:commandButton>
                        </div>
                        <div class="w3-half s12 m4 l4 w3-padding-small">
                            <h:message for="confirm" infoClass="info-message"/>
                        </div>
                    </div>
                    <div class="w3-margin-bottom"></div>
                </div>
                <div style="padding:20px 1px">
                    <h:button class="backButton"
                              value="#{msg['userSpace.returnButton']}"
                              outcome="/admin-space/index.xhtml"/>
                </div>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</html>
