<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head>
    <title>
        <ui:insert name="title">StudentDB</ui:insert>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <script defer="" src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
            integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
            crossorigin="anonymous"></script>
    <style>
        body, html {
            min-height: 100%;
            height: 100%;
        }
        h1 {
            font-family: 'Kaushan Script', cursive;
            font-size: 50px;
            letter-spacing: 1px;
        }
        h2 {
            font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
            font-size: xx-large;
        }

        .Bimage {

            background-position: center;
            background-size: cover;
        }

        .ui-inputfield {
            border-radius: 0px;
            border-color: black;
            box-shadow: none;
        }

        .content {
            min-height: 100%;
            background-color: rgba(227, 210, 160, 0.22);
            position: relative;
            padding-bottom: 140px;
        }

        footer {
            height: 50px;
            width: 100%;
            padding-right: 58px;
            position: absolute;
            bottom: 0;
        }

        .ui-selectonemenu {
            padding-right: 2em !important;
        }

        .error-message {
            padding-left: 2em;
            color: red;
            font-weight: bold;
        }

        .info-message {
            padding-left: 2em;
            color: green;
            font-weight: bold;
        }

        .sidepanel {
            width: 0px;
            position: fixed;
            z-index: 1;
            height: 500px;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        .sidepanel a {
            padding: 8px 0 8px 32px;
            text-decoration: none;
            font-size: 20px;
            color: #818181;
            display: block;
            transition: 1s;
        }

        .sidepanel a:hover {
            color: #f1f1f1;
        }

        .sidepanel .closebtn {
            position: absolute;
            top: 0;
            right: 20px;
            font-size: 30px;
        }

        .openbtn {
            font-size: 20px;
            cursor: pointer;
            background-color: beige;
            color: #111;
            padding: 10px 40px;
            border: solid 2px black;
        }

        .openbtn:hover {
            background-color: #444;
            color: white;
            transition: 1s;
        }

        .selectOne {
            font-size: 15px;
            background-color: beige;
            color: #111;
            padding: 6px 30px;
            border: solid 1px black;
        }

        .selectOne:hover {
            background-color: #624934;
            color: white;

        }

        .button {
            padding: 12px 60px;
            background: whitesmoke;
            border: solid 2px blue;
            border-radius: 8px;
            cursor: pointer;

        }
        .button:hover {
            box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
            transition-duration: 0.4s;
        }
        .backButton {
            padding: 7px 20px;
            background: whitesmoke;
            border: solid 1px gray;
            border-radius: 5px;
            cursor: pointer;
        }
        .backButton:hover {
            box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
            transition-duration: 0.4s;
        }
    </style>
</h:head>
<h:body>

    <div class="sidepanel" id="sideMenu">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&#215;</a>
        <h:link value="Main Page"
                outcome="/admin-space/index.xhtml"/>
        <h:link value="Add New Student"
                outcome="/admin-space/studentregistrations.xhtml"/>
        <h:link value="Set Marks"
                outcome="/admin-space/searchStudentForEvaluation.xhtml"/>
        <h:link value="Add Discipline"
                outcome="/admin-space/dbcontrol/addDiscipline.xhtml"/>
        <h:link value="Search info"
                outcome="/admin-space/studentsearchresult.xhtml"/>
        <h:link value="Change Exam mark"
                outcome="/admin-space/dbcontrol/updateExamSearchReslist.xhtml"/>
        <h:link value="DB Control"
                outcome="/admin-space/dbcontrol/databaseControl.xhtml"/>
        <h:link value="User Control"
                outcome="/admin-space/usercontrol/userControl.xhtml"/>

    </div>
    <button class="openbtn" onclick="openNav()">&#9776; Menu</button>
    <ui:insert name="content1"/>
    <script>
        function openNav() {
            document.getElementById("sideMenu").style.width = "215px";
        }

        function closeNav() {
            document.getElementById("sideMenu").style.width = "0";
        }
    </script>
</h:body>
</html>
