<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
</head>

<ui:composition template="/WEB-INF/template.xhtml">
    <ui:define name="content">
        <div class="w3-content">
            <div class="w3-panel w3-card w3-center w3-padding-small">
                <h2 style="font-weight: bold">#{msg['about.title']}</h2>
            </div>
            <h5 style="font-weight: bolder; padding: 20px"></h5>
            <div style="padding: 10px">
                <h:form>
                    <p:outputPanel deferred="true">
                        <p>#{msg['about.text1']}</p>
                        <p>#{msg['about.text2']}</p>
                        <p>#{msg['about.text3']}</p>
                        <p>#{msg['about.text4']}</p>
                        <p>#{msg['about.text5']}</p>
                        #{msg['about.text6']} <h:link
                            outcome="/contact.xhtml#a" value="#{msg['about.admin']}" style="text-decoration: underline"
                            id="link"/>
                    </p:outputPanel>
                </h:form>
            </div>
        </div>
    </ui:define>
</ui:composition>
</html>

