<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <f:view locale="#{languageControl.language}"/>

</head>
<ui:composition template="/WEB-INF/template.xhtml">
    <ui:define name="content">
        <div class="w3-content">
            <b:form>
                <div>
                    <div class="w3-panel w3-card w3-center w3-padding-small">
                        <h2 style="font-weight: bold; letter-spacing: 5px">#{msg['contact.contacts']}</h2>
                    </div>
                    <div style="text-align:center; padding-top: 20px">

                        <h3 style="font-weight: bold">#{msg['contact.lectorName']}</h3>
                    </div>
                    <div style="padding: 20px; text-align: center">
                        <div>
                            <p><i class="fa fa-envelope-o"
                                  style="font-size: 24px;color: black; background: none;"/>
                                <b>#{msg['contact.email']} </b><a
                                        href="mailto:tatjana.jurkevica@inbox.lv" id="link"
                                        target="_blank"> tatjana.jurkevica@inbox.lv</a></p>
                            <p><i class="fa fa-phone"
                                  style="font-size: 24px;color: black; background: none;"/><b>#{msg['contact.phone']} </b><a
                                    href="tel:+37128811085" id="link2">288-11-085</a></p>
                            <p><i class="fa fa-address-card-o"
                                  style="font-size: 24px;color: black; background: none;"/>
                                <b style="font-size: large">#{msg['contact.address']} </b>#{msg['contact.bia.address']}
                            </p>
                        </div>
                        <h4 style="padding-top: 20px">#{msg['contact.admin']}</h4>
                        <p><i class="fa fa-envelope-o"
                              style="font-size: 24px;color: black; background: none;"/><b>#{msg['contact.email']} </b><a
                                href="mailto:admin@jurkevich.attorney" id="link1"
                                target="_blank"> admin@jurkevich.attorney</a>
                        </p>
                        <div style="margin-left: -25px">
                            <p><i class="fa fa-envelope-o"
                                  style="font-size: 24px;color: black; background: none;"/><b>#{msg['contact.email']} </b><a
                                    href="mailto:supjurcom@gmail.com" id="link3"
                                    target="_blank"> supjurcom@gmail.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </b:form>
        </div>
    </ui:define>
</ui:composition>


</html>
