<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&amp;display=swap" rel="stylesheet"/>

</head>



<ui:composition template="/WEB-INF/template.xhtml">
    <ui:define name="content">
        <h:body styleClass="Bimage">
        <div class="w3-content">
            <div class="w3-center w3-display-middle">

                <div class="w3-center w3-animate-opacity">

                </div>
            </div>
        </div>
        </h:body>
    </ui:define>
</ui:composition>
</html>