<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/WEB-INF/template.xhtml">
    <ui:define name="content">
        <div class="w3-content">
            <h:form id="registration" styleClass="w3-container w3-margin-top">
                <h:panelGroup rendered="#{not registrationForm.awaitConfirmation}">
                    <label>#{msg['registration.studentId']}</label><h:message for="stid" errorClass="error-message"/>
                    <b:inputText id="stid" styleClass="w3-input w3-border"
                                 value="#{registrationForm.stId}"
                                 placeholder="#{msg['registration.studentID.placeholder']}"
                                 validatorMessage="#{msg['registration.studdentaID.validMsg']}">
                        <f:validateLength minimum="7" maximum="8"/>

                    </b:inputText>
                    <label>#{msg['registration.fullName']}</label><h:message for="fullName" errorClass="error-message"/>
                    <b:inputText id="fullName" styleClass="w3-input w3-border"
                                 value="#{registrationForm.fullName}"
                                 placeholder="#{msg['registration.fullName.placeHolder']}"
                                 validatorMessage="#{msg['registration.fullName.validMsg']}">
                        <f:validateRegex pattern="#{registrationForm.fullnameRegex}"/>
                    </b:inputText>
                    <label>#{msg['registration.email']}</label><h:message for="email" errorClass="error-message"/>
                    <b:inputText id="email" styleClass="w3-input w3-border"
                                 value="#{registrationForm.email}"
                                 validatorMessage="#{msg['registration.email.validatorMsg']}">
                        <f:validateRegex pattern="#{registrationForm.emailRegex}"/>
                    </b:inputText>

                    <label>#{msg['registration.password']}</label><h:message for="password1" errorClass="error-message"/>
                    <b:inputSecret id="password1" styleClass="w3-input w3-border"
                                   value="#{registrationForm.password1}"
                                   redisplay="true"
                                   validatorMessage="#{msg['registration.password.validMsg']}">
                        <f:validateLength minimum="5"/>
                    </b:inputSecret>

                    <label>#{msg['registration.repeatPassword']}</label><h:message for="password2" errorClass="error-message"/>
                    <b:inputSecret id="password2" styleClass="w3-input w3-border"
                                   redisplay="true"
                                   value="#{registrationForm.password2}"/>

                    <div class="w3-margin-top w3-row">
                        <h:commandButton styleClass="waves-effect waves-light btn-large"
                                         value="#{msg['registration.button.register']}"
                                         action="#{registrationForm.register}">
                            <f:ajax execute="stid fullName email password1 password2" render="@form"/>
                        </h:commandButton>
                    </div>
                </h:panelGroup>

                <h:panelGroup rendered="#{registrationForm.awaitConfirmation}">
                    <label>#{msg['registration.confirmationCode']}</label><h:message for="confirmationCode" errorClass="error-message"/>
                    <h:inputText id="confirmationCode" styleClass="w3-input w3-border"
                                 value="#{registrationForm.confirmationCode}"
                                 required="true"
                                 requiredMessage="#{msg['registration.confirmationCode.requiredMsg']}"/>
                    <div class="w3-margin-top">
                        <h:commandButton styleClass="waves-effect waves-light btn-large"
                                         value="#{msg['registration.button.confirm']}"
                                         action="#{registrationForm.confirm}">
                            <f:ajax execute="email confirmationCode" render="@form"/>
                        </h:commandButton>
                    </div>
                </h:panelGroup>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</html>
