<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/WEB-INF/template.xhtml">
    <ui:define name="content">
        <div class="w3-content">
            <h:form id="resetPassword" styleClass="w3-container w3-margin-top">
                <h3>#{msg['reset.stepOne']}</h3>
                <p>#{msg['reset.messageForStepOne']}</p>
                <label>#{msg['registration.email']}</label><h:message for="email" errorClass="error-message"/>
                <h:inputText id="email" styleClass="w3-input w3-border"
                             value="#{resetPasswordForm.email}"
                             validatorMessage="#{msg['registration.email.validatorMsg']}">
                    <f:validateRegex pattern="#{registrationForm.emailRegex}"/>
                </h:inputText>
                <div class="w3-margin-top">
                    <h:commandButton styleClass="w3-btn w3-green"
                                     value="#{msg['reset.button.sendConfCode']}"
                                     action="#{resetPasswordForm.request}">
                        <f:ajax execute="resetPassword:email" render="@form"/>
                    </h:commandButton>
                </div>
                <h:panelGroup rendered="#{resetPasswordForm.confirmationSend}">
                    <h3>#{msg['reset.stepTwo']}</h3>
                    <p>#{msg['reset.messageForStepTwo']}</p>
                    <label>#{msg['reset.confirmationCode']}</label><h:message for="confirmationCode" errorClass="error-message"/>
                    <h:inputText id="confirmationCode" styleClass="w3-input w3-border"
                                 value="#{resetPasswordForm.confirmationCode}"
                                 required="true"
                                 requiredMessage="#{msg['reset.confCodeRequired']}"/>
                    <label>#{msg['registration.password']}</label><h:message for="password1" errorClass="error-message"/>
                    <h:inputSecret id="password1" styleClass="w3-input w3-border"
                                   value="#{resetPasswordForm.password1}"
                                   redisplay="true"
                                   validatorMessage="#{msg['registration.password.validMsg']}">
                        <f:validateLength minimum="5"/>
                    </h:inputSecret>

                    <label>#{msg['registration.repeatPassword']}</label><h:message for="password2" errorClass="error-message"/>
                    <h:inputSecret id="password2" styleClass="w3-input w3-border"
                                   redisplay="true"
                                   value="#{resetPasswordForm.password2}"
                                   required="true"
                                   requiredMessage="#{msg['reset.repeatPassRequired']}"/>
                    <div class="w3-margin-top">
                        <h:commandButton styleClass="w3-btn w3-green"
                                         value="#{msg['reset.button.resetPass']}"
                                         action="#{resetPasswordForm.confirm}">
                            <f:ajax execute="@form" render="@form"/>
                        </h:commandButton>
                    </div>
                </h:panelGroup>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</html>