<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<ui:composition template="/WEB-INF/template.xhtml">
    <ui:define name="content">
        <h:body>
            <div class="singIn col-s-12 col-5">
                <div class="card">
                    <h:form id="signInForm">
                        <p:growl/>
                        <h:panelGroup rendered="#{not currentUser.signedIn}">
                            <div class="ui-fluid">
                                <div class="col-s-3 col-9" style="margin: auto">
                                    <h1>Sign In</h1>
                                </div>
                                <div class="p-field">
                                    <span class="ui-float-label">
                                    <p:inputText id="email" value="#{signInForm.email}"
                                                 required="true"
                                                 requiredMessage="#{msg['signIn.email.requiredMessage']}"/>
                                    <p:outputLabel for="email" value="#{msg['signIn.email']}"/>
                                    </span>
                                </div>
                                <div class="p-field">
                                    <span class="ui-float-label">
                                    <p:password id="password"
                                                value="#{signInForm.password}"
                                                feedback="true"
                                                required="true"
                                                requiredMessage="#{msg['signIn.password.requiredMessage']}"/>
                                    <p:outputLabel for="password" value="#{msg['signIn.password']}"/>
                                    </span>
                                </div>
                                <div>
                                    <h:commandButton styleClass="btn btn-lg btn-primary btn-block"
                                                     value="#{msg['signIn.button.signIn']}"
                                                     action="#{signInForm.signIn}">
                                        <f:ajax execute="@form" render="@form"/>
                                    </h:commandButton>
                                </div>
                                <div style="padding-top: 1em; padding-bottom: 1em">
                                    <div style="display: inline; float: left">
                                        <h:link styleClass="link"
                                                value="#{msg['signIn.button.newUser']}"
                                                outcome="/registration.xhtml"/>
                                    </div>
                                    <div style="display: inline; float: right">
                                        <h:link styleClass="link"
                                                value="#{msg['signIn.button.resetPass']}"
                                                outcome="/reset.xhtml"/>
                                    </div>
                                </div>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{currentUser.signedIn}">
                            <div class="w3-panel w3-sand w3-center w3-padding-small">
                                <h3>#{msg['signIn.greeting']}<h:outputText
                                        value="#{currentUser.signedInUser.fullName}"/>!
                                </h3>
                                <p>#{msg['signIn.greetingSuccess']}</p>
                                <div class="w3-margin-top w3-row">
                                    <div style="padding: 5px">
                                        <h:link styleClass="w3-btn w3-orange"
                                                style="width: 100%"
                                                value="#{msg['signIN.studentArea']}"
                                                outcome="/user-space/index.xhtml"
                                                rendered="#{request.isUserInRole('user')}"/>
                                    </div>
                                    <div style="padding: 5px">
                                        <h:commandButton styleClass="w3-btn w3-red"
                                                         style="width: 100%"
                                                         value="#{msg['signIn.signOut']}"
                                                         action="#{signInForm.signOut}">
                                            <f:ajax execute="@form" render="@form"/>
                                        </h:commandButton>
                                    </div>
                                    <div style="padding: 5px">
                                        <h:link styleClass="w3-btn w3-blue"
                                                style="width: 100%"
                                                value="#{msg['signIn.dbAdmin']}"
                                                outcome="/admin-space/index.xhtml"
                                                rendered="#{request.isUserInRole('admin')}"/>
                                    </div>
                                </div>
                            </div>
                        </h:panelGroup>
                    </h:form>
                </div>
            </div>
        </h:body>
    </ui:define>
</ui:composition>
</html>
