<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title>
        <ui:insert name="title">ES System</ui:insert>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Inconsolata&amp;display=swap" rel="stylesheet"/>
    <f:view locale="#{languageControl.language}"/>
    <style>
        body, html {
            min-height: 100%;
            height: 100%
        }
        h1 {
            text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
            text-transform: uppercase;
            text-align: center;
            color: #666;
            margin: 0 0 30px 0;
            letter-spacing: 4px;
            font: normal 26px/1 Verdana, Helvetica;
            position: relative;
        }

        h1:after,
        h1:before {
            background-color: #777;
            content: "";
            height: 1px;
            position: absolute;
            top: 15px;
            width: 100px;
        }

        h1:after {
            right: 0;
        }

        h1:before {
            background-image: linear-gradient(right, #777, #fff);
            left: 0;
        }
        h2 {
            font-family: 'Inconsolata', monospace;
            font-size: 20px;
        }
        h4 {
            font-family: 'Inconsolata', monospace;
            font-weight: bolder;
            font-size: 20px;
        }
        h3 {
            font-family: 'Kaushan Script', cursive;
            font-size: 25px;
            letter-spacing: 1px;
        }

        .content {
            min-height: 100%;
            background-color: rgba(227, 210, 160, 0.22);
            position: relative;
            padding-top: 70px;
            padding-bottom: 100px;
        }
        .Bimage {
            background-image: url(#{request.contextPath}/img/readmore.jpg);
            background-position: center;
            background-size: cover;
        }

        footer {
            height: 50px;
            width: 100%;
            padding-right: 58px;
            position: absolute;
            bottom: 0px;
        }
        .error-message {
            padding-left: 2em;
            color: red;
            font-weight: bold;
        }
        .info-message {
            padding-left: 2em;
            color: green;
            font-weight: bold;
        }
        #link:hover {
            text-decoration: none;
            color: blue;
        }

        #link1:hover {
            text-decoration: none;
            color: blue;
        }
        #link2:hover {
            text-decoration: none;
            color: blue;
        }
        #link3:hover {
            text-decoration: none;
            color: blue;
        }
        .fa {
            padding: 2px;
            font-size: 25px;
            width: 30px;
            text-align: center;
            text-decoration: none;
            margin: 2px 2px;
        }
        .fa:hover {
            opacity: 0.7;
        }
        .fa-facebook {
            background: #3B5998;
            color: white;
        }
        .fa-envelope-o {
            background: dodgerblue;
            color: white;
        }
        .fa-linkedin {
            background: #007bb5;
            color: white;
        }
        .inputfile {
            font-size: 1em;
            font-weight: 200;
            color: black;
            display: inline-block;
            cursor: pointer;
        }
        .upfile {
            margin-left: auto;
            margin-right: auto;
            width: 30em;
        }
        .backButton {
            padding: 7px 20px;
            background: whitesmoke;
            border: solid 1px gray;
            border-radius: 5px;
            cursor: pointer;
        }
        .backButton:hover {
            box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
            transition-duration: 0.4s;
        }
        .downloadButton {
            padding: 7px 20px;
            background: plum;
            border: solid 1px gray;
            border-radius: 5px;
            cursor: pointer;
        }
        .downloadButton:hover {
            box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.24), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
            transition-duration: 0.6s;
        }
        .singIn {
            margin: auto;
            width: auto;
            padding-top: 5rem;
        }
        .card {
            background: #ffffff;
            padding: 2rem;
            box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
            0 1px 1px 0 rgba(0, 0, 0, 0.14),
            0 1px 3px 0 rgba(0, 0, 0,0.12);
            border-radius: 4px;
            margin-bottom: 2rem;
        }
        .p-field {
            margin-bottom: 2rem;
        }

        @media only screen and (min-width: 600px) {
            /* For tablets: */
            .col-s-1 {width: 8.33%;}
            .col-s-2 {width: 16.66%;}
            .col-s-3 {width: 25%;}
            .col-s-4 {width: 33.33%;}
            .col-s-5 {width: 41.66%;}
            .col-s-6 {width: 50%;}
            .col-s-7 {width: 58.33%;}
            .col-s-8 {width: 66.66%;}
            .col-s-9 {width: 75%;}
            .col-s-10 {width: 83.33%;}
            .col-s-11 {width: 91.66%;}
            .col-s-12 {width: 100%;}
        }
        @media only screen and (min-width: 768px) {
            /* For desktop: */
            .col-1 {width: 8.33%;}
            .col-2 {width: 16.66%;}
            .col-3 {width: 25%;}
            .col-4 {width: 33.33%;}
            .col-5 {width: 41.66%;}
            .col-6 {width: 50%;}
            .col-7 {width: 58.33%;}
            .col-8 {width: 66.66%;}
            .col-9 {width: 75%;}
            .col-10 {width: 83.33%;}
            .col-11 {width: 91.66%;}
            .col-12 {width: 100%;}
        }

    </style>
</h:head>
<h:body>
    <div class="content">
        <h:form id="form">
            <b:navBar brand="ES system" brandHref="https://www.jurkevich.com/index.xhtml" inverse="true" sticky="true"
                      position="top" fixed="top" fluid="true"
                      brandStyle="font-family:'Kaushan Script', cursive; font-size:20px; letter-spacing:1px">
                <b:navbarLinks>
                    <b:navCommandLink style="font-size:15px; padding: 3px" value="#{msg['language.en']}" action="#{languageControl.setLanguage('en_US')}" rendered="#{not languageControl.hideLangEn}" update="form content"/>

                    <b:navCommandLink style="font-size:15px; padding: 3px" value="#{msg['language.lv']}" action="#{languageControl.setLanguage('lv_LV')}" rendered="#{not languageControl.hideLangLv}" update="form content"/>

                    <b:navCommandLink style="font-size:15px; padding: 3px" value="#{msg['language.ru']}" action="#{languageControl.setLanguage('ru_RU')}" rendered="#{not languageControl.hideLangRu}" update="form content"/>

                </b:navbarLinks>
                <b:navbarLinks pull="right">
                    <b:navLink value="#{msg['top.menubar.home']}" outcome="/index.xhtml"/>
                    <b:navLink value="#{msg['top.menubar.student']}"
                               outcome="/user-space/index.xhtml"
                               rendered="#{request.isUserInRole('user')}"/>
                    <b:navLink value="#{msg['top.menubar.admin']}"
                               outcome="/admin-space/index.xhtml"
                               rendered="#{request.isUserInRole('admin')}"/>
                    <b:navLink value="#{msg['top.menubar.howtouse']}"
                               outcome="/about.xhtml"
                               rendered="#{not request.isUserInRole('admin')}"/>
                    <b:navLink value="#{msg['top.menubar.contact']}"
                               outcome="/contact.xhtml"
                               rendered="#{not request.isUserInRole('admin')}"/>
                    <b:navLink value="#{msg['top.menubar.signin']}"
                               outcome="/sign-in.xhtml"
                               rendered="#{not currentUser.signedIn}"/>
                    <b:navCommandLink value="#{msg['top.menubar.signOut']}"
                                      action="#{signInForm.signOut}"
                                      rendered="#{currentUser.signedIn}"/>
                </b:navbarLinks>
            </b:navBar>
        </h:form>
        <h:panelGroup id="content" layout="block">
            <ui:insert name="content"/>
        </h:panelGroup>
        <footer class="w3-center w3-padding-32 w3-xlarge">
            <a href="https://facebook.com/tatjana.jurkewich" target="_blank"
               class="fa fa-facebook"/>
            <a href="https://linkedin.com" target="_blank"
               class="fa fa-linkedin"/>
            <a href="mailto:tatjana.jurkevica@inbox.lv" id="link" target="_blank"
               class="fa fa-envelope-o"/>
        </footer>
    </div>
</h:body>
</html>