<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

<ui:composition template="/WEB-INF/template.xhtml">
    <ui:define name="content">
        <div class="w3-margin-top">
            <h:form id="contactus" enctype="multipart/form-data" styleClass="w3-container w3-margin-top">
                <h2 style="font-size: x-large; padding-left: 15px">#{msg['userSpace.sendEmail']} </h2>
                <b:panelGrid columns="2" style="padding-top: 10px;">
                    <b:inputText id="name"
                                 value="#{contactUs.name}"
                                 smallScreen="two-thirds"
                                 placeholder="#{msg['userSpace.sendEmail.fullName']}"
                                 required="true"
                                 requiredMessage="#{msg['userSpace.sendEmail.requiredFullName']}"/>
                    <h:message errorClass="error-message" for="name"/>
                    <b:inputText id="email"
                                 value="#{contactUs.email}"
                                 smallScreen="two-thirds"
                                 required="true"
                                 requiredMessage="#{msg['signIn.email.requiredMessage']}"
                                 placeholder="#{msg['userSpace.sendEmail.email']}"/>
                    <h:message errorClass="error-message" for="email"/>
                    <b:inputTextarea
                            id="text"
                            rows="3"
                            smallScreen="two-thirds"
                            placeholder="#{msg['userSpace.sendEmail.writeMessage']}"
                            required="true"
                            requiredMessage="#{msg['userSPace.sendEmail.requiredWriteText']}"
                            value="#{contactUs.text}">
                    </b:inputTextarea>
                    <h:message for="text" errorClass="error-message"/>
                    <b:label span="8" text="Place to attach a file (isn't required)"/>
                    <span/>
                    <o:inputFile
                            style="padding-left: 20px;padding-bottom: 10px; padding-top: 10px;"
                            id="file"
                            styleClass="inputfile"
                            maxsize="#{10*1024*1024}" maxsizeMessage="File too large! Should be no more than {2}"
                            accept="application/msword,application/pdf,application/zip"
                            acceptMessage="Wrong file {1} type! Should match {2}"
                            uploadLabel="false"
                            value="#{contactUs.file}"/>
                    <h:message for="file" errorClass="error-message"/>
                    <b:commandButton icon-size="1x"
                                     id="send"
                                     span="8"
                                     icon="envelope"
                                     smallScreen="one-third"
                                     style="width:100%;"
                                     action="#{contactUs.sendmail}"
                                     value="#{msg['userSpace.sendEmail.button.send']}" look="info"/>
                    <b:message for="send" infoClass="info-message"/>
                </b:panelGrid>
                <div style="padding:40px 15px">
                    <h:button class="backButton"
                              value="#{msg['userSpace.returnButton']}"
                              outcome="/user-space/index.xhtml"/>
                </div>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</html>