<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">


<ui:composition template="/WEB-INF/template.xhtml">
    <ui:define name="content">
        <div class="w3-content">
            <h:form id="studentArea" styleClass="w3-container w3-margin-top">
                <div class="w3-margin-top" style="padding-left: 10px;padding-right: 10px">
                    <h:commandButton id="btnMarks" styleClass="w3-btn w3-row w3-round-xlarge w3-border w3-border-indigo w3-text-indigo w3-hover-indigo w3-large w3-padding-16"
                                   value="#{msg['userSpace.indexPage.marks']}"
                                   action="#{userMarksSearch.isStudentEqualSignInUser}"
                                   style="text-shadow: 1px 1px 0 #444; width: 100%">
                    </h:commandButton>
                    <h:message for="btnMarks" errorClass="error-message"/>
                </div>
                <div class="w3-margin-top" style="padding-left: 10px;padding-right: 10px">
                    <h:button styleClass="w3-btn w3-row w3-round-xlarge w3-border w3-border-purple w3-text-purple w3-hover-purple w3-large w3-padding-16"
                              value="#{msg['userSpace.indexPage.btn..uploadStudentFile']}"
                              style="text-shadow: 1px 1px 0 #444; width: 100%" disabled="false"
                              outcome="/user-space/uploadStudentFile.xhtml"/>
                </div>
                <div class="w3-margin-top" style="padding-left: 10px;padding-right: 10px">
                    <h:button styleClass="w3-btn w3-row w3-round-xlarge w3-border w3-border-green w3-text-green w3-hover-green w3-large w3-padding-16"
                            value="#{msg['userSpace.indexPage.btn.contactForm']}"
                            style="text-shadow: 1px 1px 0 #444; width: 100%"
                            outcome="/user-space/contactForm.xhtml"/>
                </div>
                <div class="w3-margin-top"></div>
            </h:form>

        </div>
    </ui:define>
</ui:composition>
</html>