<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/template.xhtml">
    <f:metadata>
        <f:viewAction action="#{userMarksSearch.loggedUserMarksSearch}"/>
    </f:metadata>
    <ui:define name="content">
        <div class="w3-container">
            <p:dataTable styleClass="myTable"
                         id="list" var="r" reflow="true" value="#{userMarksSearch.studentPerformance}">
                <p:column groupRow="true">
                    <f:facet name="header">#{msg['userSpace.tableMarks.studentInfo']}</f:facet>
                    <h:outputText value="#{r.fullName}"/><br/>
                    <h:outputText value="#{r.stNum}"/>
                </p:column>
                <p:column headerText="#{msg['userSpace.tableMarks.discipline']}">
                    <h:outputText value="#{r.disciplineName}"/>
                </p:column>
                <p:column headerText="#{msg['userSpace.tableMarks.typeOfControl']}">
                    <h:outputText value="#{msg['typeOfControl.' +=r.typeOfControl]}"/>
                </p:column>
                <p:column headerText="#{msg['userSpace.tableMarks.mark']}" styleClass="w3-container w3-center">
                    <h:outputText value="#{r.mark}"/>
                </p:column>
                <p:column headerText="#{msg['userSpace.tableMarks.date']}" styleClass="w3-container w3-center">
                    <h:outputText value="#{r.date}"/>
                </p:column>
            </p:dataTable>
            <div style="padding-top:20px">
                <h:button class="backButton"
                          value="#{msg['userSpace.returnButton']}"
                          outcome="/user-space/index.xhtml"/>
            </div>
        </div>
    </ui:define>
</ui:composition>
</html>
