<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

<ui:composition template="/WEB-INF/template.xhtml">
    <f:metadata>
        <f:viewAction action="#{studentUploadFile.listDiscipline()}"/>
    </f:metadata>

    <ui:define name="content">
        <div class="w3-content">
            <h:form id="userUploadFiles" enctype="multipart/form-data" styleClass="upfile">
                <h2 style="font-size: x-large; font-weight: bold; margin:40px">#{msg['userSpace.uploadFile']} </h2>
                <p:growl id="growl" for="save" showDetail="false" sticky="true" />
                <h:panelGrid columns="1" style="margin:auto" cellspacing="20">
                    <p:outputLabel for="disc" value="#{msg['userSpace.uploadFile.discipline']}" />
                    <p:selectOneMenu id="disc" value="#{studentUploadFile.discId}" required="true"
                                     requiredMessage="#{msg['userSpace.uploadFile.disciplineRequired']}" style="min-width: 200px">
                        <f:selectItem itemLabel="#{msg['userSpace.uploadFile.selectType']}" itemValue="#{null}" />
                            <f:selectItems value="#{studentUploadFile.listDiscipline()}"
                                       var="d"
                                       itemLabel="#{d.name}"
                                       itemValue="#{d.disc_id}"/>
                    </p:selectOneMenu>
                    <p:message for="disc"/>
                    <p:outputLabel for="typeControl" style="margin-top:10px;" value="#{msg['userSpace.uploadFile.typeOfControl']}" />
                    <p:selectOneMenu id="typeControl" value="#{studentUploadFile.controlType}" required="true"
                                     requiredMessage="#{msg['userSpace.uploadFile.typeOfControlRequired']}" style="width:200px">
                        <f:selectItem itemLabel="#{msg['userSpace.uploadFile.selectType']}" itemValue=""/>
                        <f:selectItems value="#{studentUploadFile.typeOfControlList_1()}"
                                       var="c"
                                       itemValue="#{c}"
                                       itemLabel="#{msg['typeOfControl.'+=c]}"/>
                    </p:selectOneMenu>
                    <p:message for="typeControl"/>
                    <p:fileUpload id="upload"
                                  mode="simple"
                                  skinSimple="true"
                                  dragDropSupport="false"
                                  sizeLimit="#{20*1024*1024}"
                                  invalidSizeMessage="File too large! Should be no more than {2}"
                                  allowTypes="/(\.|\/)(docx|xlsx|txt|pdf|doc|xls)$/"
                                  invalidFileMessage="Invalid file type!!!!"
                                  validateContentType="true" accept=".docx,.xlsx,.xls,.doc,.txt,.pdf"

                                  value="#{studentUploadFile.file}"/>
                    <p:message for="upload"/>
                    <h:commandButton id="save" styleClass="backButton" value="#{msg['userSpace.uploadFile.uploadButton']}"
                                     style="margin-top: 10px; width: 200px"
                                     action="#{studentUploadFile.uploadAndSave}">
                        <f:ajax execute="@form" render="@form"/>
                    </h:commandButton>
                    <p:message for="save" />

                </h:panelGrid>
            </h:form>
            <div style="padding:40px 15px">
                <h:button class="backButton"
                          value="#{msg['userSpace.returnButton']}"
                          outcome="/user-space/index.xhtml"/>
            </div>
        </div>
    </ui:define>
</ui:composition>
</html>
